.bottom_description {
  width: 100%;
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.bottom__list {
  height: 100%;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.bottom__item {
  padding: 20px;
}

.bottom__link {
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(19, 16, 193);
}

.bottom__link:hover {
  color: rgba(14, 20, 109, 0.469);
}
